.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: #2c0e3a;
  padding: 10px;
}

.website-logo {
  width: 90%;
  max-width: 200px;
}

.timer-logo-container {
  display: flex;
  list-style-type: none;
}
.score {
  font-size: 20px;
  color: white;
  margin-right: 10px;
}
.timing-container {
  display: flex;
  align-items: center;
}
.timer-img {
  width: 30px;
}
.timing {
  font-size: 20px;
  color: orangered;
  margin-left: 20px;
}
